n8n/workflows/re_workflow_c_response_timer.json
{
  "name": "RE Workflow C — Response Timer & Outreach",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "*/15 * * * *" }]
        }
      },
      "id": "re_c_schedule",
      "name": "Schedule — Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.airtable.com/v0/' + $env.AIRTABLE_BASE_ID_RE + '/' + $env.AIRTABLE_TABLE_AGENTS }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "filterByFormula", "value": "AND({status}='Audited',{inquiry_sent_at}!='',{outreach_triggered}=FALSE(),{opted_out}!=TRUE())" },
            { "name": "sort[0][field]", "value": "inquiry_sent_at" },
            { "name": "sort[0][direction]", "value": "asc" },
            { "name": "maxRecords", "value": "50" }
          ]
        },
        "options": {}
      },
      "id": "re_c_fetch_pending",
      "name": "Fetch Pending Agents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [420, 300],
      "credentials": {
        "airtableTokenApi": { "id": "z6xuZwjlxtrjZ38L", "name": "Airtable Personal Access Token account 2" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [{
            "leftValue": "={{ $json.records.length }}",
            "rightValue": 0,
            "operator": { "type": "number", "operation": "larger" }
          }],
          "combinator": "and"
        }
      },
      "id": "re_c_if_records",
      "name": "IF — Records Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "const records = $input.item.json.records || [];\nconst now = Date.now();\nconst THRESHOLD_MS = 15 * 60 * 1000; // 15 minutes\n\n// Filter to agents whose inquiry was sent >15 min ago and haven't responded.\nreturn records\n  .map(r => {\n    const sentAt = r.fields.inquiry_sent_at ? new Date(r.fields.inquiry_sent_at).getTime() : null;\n    const elapsed = sentAt ? now - sentAt : 0;\n    return {\n      json: {\n        record_id: r.id,\n        agent_name: r.fields.agent_name || '',\n        agency_name: r.fields.agency_name || '',\n        contact_email: r.fields.contact_email || '',\n        city: r.fields.city || '',\n        state: r.fields.state || '',\n        has_live_chat: r.fields.has_live_chat || false,\n        inquiry_sent_at: r.fields.inquiry_sent_at || null,\n        elapsed_minutes: Math.floor(elapsed / 60000),\n        is_slow_responder: elapsed >= THRESHOLD_MS\n      }\n    };\n  })\n  .filter(item => item.json.is_slow_responder);"
      },
      "id": "re_c_check_elapsed",
      "name": "Check Elapsed Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [{
            "leftValue": "={{ $json.elapsed_minutes }}",
            "rightValue": 0,
            "operator": { "type": "number", "operation": "larger" }
          }],
          "combinator": "and"
        }
      },
      "id": "re_c_if_slow",
      "name": "IF — Any Slow Responders?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1080, 200]
    },
    {
      "parameters": {
        "jsCode": "// Build the outreach email.\n// SMS has been removed — sending marketing texts to cold contacts without prior\n// express written consent is a TCPA violation.\nconst r = $input.item.json;\nconst firstName = r.agent_name ? r.agent_name.split(' ')[0] : 'there';\n\nconst emailSubject = `${firstName} — a quick note about your website's lead response time`;\n\nconst emailBody = `Hi ${firstName},\n\nI reached out through your website recently and noticed you don't have live chat set up. Research shows that home buyers who don't hear back within 15 minutes are 10x less likely to convert.\n\nI help real estate agents set up instant live chat and automated follow-up in under 24 hours, so you never lose a lead to slow response time again.\n\nWould you be open to a quick 10-minute call this week?\n\nBest,\nSean\n\n---\nThis is a commercial email. To unsubscribe, reply with \"UNSUBSCRIBE\" in the subject line and you will not be contacted again.\n\nTaskRiver LLC | 1500 N Grant St Ste N Denver, CO 80203`;\n\nreturn [{ json: { ...r, emailSubject, emailBody, outreach_sent_at: new Date().toISOString() } }];"
      },
      "id": "re_c_build_outreach",
      "name": "Build Outreach Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SENDGRID_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "List-Unsubscribe", "value": "=<mailto:{{ $env.INQUIRY_EMAIL_ALIAS }}?subject=UNSUBSCRIBE>" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ personalizations: [{ to: [{ email: $json.contact_email }] }], from: { email: $env.INQUIRY_EMAIL_ALIAS }, subject: $json.emailSubject, content: [{ type: 'text/plain', value: $json.emailBody }] }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "re_c_send_email",
      "name": "Send Email via SendGrid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1520, 120],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.airtable.com/v0/' + $env.AIRTABLE_BASE_ID_RE + '/' + $env.AIRTABLE_TABLE_AGENTS + '/' + $json.record_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: { outreach_triggered: true, outreach_sent_at: $json.outreach_sent_at, status: 'Slow_Responder' } }) }}",
        "options": {}
      },
      "id": "re_c_update_airtable",
      "name": "Update Agent — Slow Responder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1740, 120],
      "credentials": {
        "airtableTokenApi": { "id": "z6xuZwjlxtrjZ38L", "name": "Airtable Personal Access Token account 2" }
      }
    },
    {
      "parameters": {
        "jsCode": "const slackUrl = $env.SLACK_WEBHOOK_URL;\nif (!slackUrl) return [{ json: { skipped: true } }];\nconst r = $input.item.json;\nreturn [{ json: { slackUrl, slackBody: { text: `⏱️ *RE Outreach Triggered*\\n${r.agent_name} (${r.agency_name || 'Independent'})\\n📍 ${r.city}, ${r.state}\\n⏱ ${r.elapsed_minutes} min response time\\n📧 Email sent` } } }];"
      },
      "id": "re_c_slack_msg",
      "name": "Build Slack Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.slackUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slackBody.text }) }}",
        "options": {}
      },
      "id": "re_c_slack",
      "name": "Slack — Outreach Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2180, 120]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "re-reply-webhook",
        "options": {}
      },
      "id": "re_c_reply_webhook",
      "name": "Webhook — Reply Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 500],
      "webhookId": "re-reply-received-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Triggered by your email provider (Mailgun/Postmark/SendGrid inbound parse)\n// when someone replies to the inquiry email sent from INQUIRY_EMAIL_ALIAS.\n//\n// Expected payload fields (SendGrid Inbound Parse format):\n//   from: agent's email address\n//   subject: reply subject\n//   text: reply body\n//\n// Match agent by reply-to email address against contact_email in Airtable.\nconst body = $input.item.json;\nconst fromEmail = body.from || body.sender || '';\n\nif (!fromEmail) throw new Error('No sender email in reply webhook payload');\n\nreturn [{ json: { from_email: fromEmail, replied_at: new Date().toISOString() } }];"
      },
      "id": "re_c_parse_reply",
      "name": "Parse Reply Sender",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 500]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.airtable.com/v0/' + $env.AIRTABLE_BASE_ID_RE + '/' + $env.AIRTABLE_TABLE_AGENTS }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "filterByFormula", "value": "={contact_email}='{{ $json.from_email }}'" },
            { "name": "maxRecords", "value": "1" },
            { "name": "fields[]", "value": "inquiry_sent_at" },
            { "name": "fields[]", "value": "contact_email" }
          ]
        },
        "options": {}
      },
      "id": "re_c_lookup_agent",
      "name": "Lookup Agent by Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [640, 500],
      "credentials": {
        "airtableTokenApi": { "id": "z6xuZwjlxtrjZ38L", "name": "Airtable Personal Access Token account 2" }
      }
    },
    {
      "parameters": {
        "jsCode": "const records = $input.item.json.records || [];\nif (records.length === 0) return [];\n\nconst record = records[0];\nconst sentAt = record.fields.inquiry_sent_at ? new Date(record.fields.inquiry_sent_at) : null;\nconst repliedAt = new Date($('Parse Reply Sender').item.json.replied_at);\nconst responseTimeMinutes = sentAt ? Math.floor((repliedAt - sentAt) / 60000) : null;\n\nreturn [{ json: { record_id: record.id, responded_at: repliedAt.toISOString(), response_time_minutes: responseTimeMinutes } }];"
      },
      "id": "re_c_compute_response_time",
      "name": "Compute Response Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 500]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.airtable.com/v0/' + $env.AIRTABLE_BASE_ID_RE + '/' + $env.AIRTABLE_TABLE_AGENTS + '/' + $json.record_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: { responded_at: $json.responded_at, response_time_minutes: $json.response_time_minutes } }) }}",
        "options": {}
      },
      "id": "re_c_mark_replied",
      "name": "Mark Agent Replied",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1080, 500],
      "credentials": {
        "airtableTokenApi": { "id": "z6xuZwjlxtrjZ38L", "name": "Airtable Personal Access Token account 2" }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "re-optout-webhook",
        "options": {}
      },
      "id": "re_c_optout_webhook",
      "name": "Webhook — Opt-Out Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 720],
      "webhookId": "re-optout-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Triggered by SendGrid inbound parse when a recipient replies with\n// \"UNSUBSCRIBE\" in the subject line (per CAN-SPAM §7704(a)(3)).\n//\n// Expected payload fields (SendGrid Inbound Parse format):\n//   from: sender's email address\n//   subject: email subject\nconst body = $input.item.json;\nconst fromEmail = body.from || body.sender || '';\nconst subject = body.subject || '';\n\nif (!fromEmail) throw new Error('No sender email in opt-out webhook payload');\n\n// Only process genuine unsubscribe requests.\nif (!subject.toLowerCase().includes('unsubscribe')) return [];\n\nreturn [{ json: { from_email: fromEmail, opted_out_at: new Date().toISOString() } }];"
      },
      "id": "re_c_parse_optout",
      "name": "Parse Opt-Out Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 720]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.airtable.com/v0/' + $env.AIRTABLE_BASE_ID_RE + '/' + $env.AIRTABLE_TABLE_AGENTS }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "filterByFormula", "value": "={contact_email}='{{ $json.from_email }}'" },
            { "name": "maxRecords", "value": "1" },
            { "name": "fields[]", "value": "contact_email" }
          ]
        },
        "options": {}
      },
      "id": "re_c_lookup_optout_agent",
      "name": "Lookup Agent — Opt-Out",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [640, 720],
      "credentials": {
        "airtableTokenApi": { "id": "z6xuZwjlxtrjZ38L", "name": "Airtable Personal Access Token account 2" }
      }
    },
    {
      "parameters": {
        "jsCode": "const records = $input.item.json.records || [];\nif (records.length === 0) return [];\nreturn [{ json: { record_id: records[0].id } }];"
      },
      "id": "re_c_extract_optout_record",
      "name": "Extract Opt-Out Record ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 720]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.airtable.com/v0/' + $env.AIRTABLE_BASE_ID_RE + '/' + $env.AIRTABLE_TABLE_AGENTS + '/' + $json.record_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: { opted_out: true } }) }}",
        "options": {}
      },
      "id": "re_c_mark_optout",
      "name": "Mark Agent Opted Out",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1080, 720],
      "credentials": {
        "airtableTokenApi": { "id": "z6xuZwjlxtrjZ38L", "name": "Airtable Personal Access Token account 2" }
      }
    },
    {
      "parameters": {},
      "id": "re_c_error_trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [200, 940]
    },
    {
      "parameters": {
        "jsCode": "const slackUrl = $env.SLACK_WEBHOOK_URL;\nif (!slackUrl) return [{ json: {} }];\nconst err = $input.item.json;\nreturn [{ json: { slackUrl, slackBody: { text: `🚨 *RE Workflow C Error*\\n${err.execution?.error?.message || 'Unknown error'}` } } }];"
      },
      "id": "re_c_format_error",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 940]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.slackUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slackBody.text }) }}",
        "options": {}
      },
      "id": "re_c_error_slack",
      "name": "Slack — Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [640, 940]
    }
  ],
  "connections": {
    "Schedule — Every 15 Minutes": { "main": [[{ "node": "Fetch Pending Agents", "type": "main", "index": 0 }]] },
    "Fetch Pending Agents": { "main": [[{ "node": "IF — Records Found?", "type": "main", "index": 0 }]] },
    "IF — Records Found?": {
      "main": [
        [{ "node": "Check Elapsed Time", "type": "main", "index": 0 }],
        []
      ]
    },
    "Check Elapsed Time": { "main": [[{ "node": "IF — Any Slow Responders?", "type": "main", "index": 0 }]] },
    "IF — Any Slow Responders?": {
      "main": [
        [{ "node": "Build Outreach Message", "type": "main", "index": 0 }],
        []
      ]
    },
    "Build Outreach Message": { "main": [[{ "node": "Send Email via SendGrid", "type": "main", "index": 0 }]] },
    "Send Email via SendGrid": {
      "main": [
        [{ "node": "Update Agent — Slow Responder", "type": "main", "index": 0 }],
        [{ "node": "Update Agent — Slow Responder", "type": "main", "index": 0 }]
      ]
    },
    "Update Agent — Slow Responder": { "main": [[{ "node": "Build Slack Alert", "type": "main", "index": 0 }]] },
    "Build Slack Alert": { "main": [[{ "node": "Slack — Outreach Sent", "type": "main", "index": 0 }]] },
    "Webhook — Reply Received": { "main": [[{ "node": "Parse Reply Sender", "type": "main", "index": 0 }]] },
    "Parse Reply Sender": { "main": [[{ "node": "Lookup Agent by Email", "type": "main", "index": 0 }]] },
    "Lookup Agent by Email": { "main": [[{ "node": "Compute Response Time", "type": "main", "index": 0 }]] },
    "Compute Response Time": { "main": [[{ "node": "Mark Agent Replied", "type": "main", "index": 0 }]] },
    "Webhook — Opt-Out Request": { "main": [[{ "node": "Parse Opt-Out Request", "type": "main", "index": 0 }]] },
    "Parse Opt-Out Request": { "main": [[{ "node": "Lookup Agent — Opt-Out", "type": "main", "index": 0 }]] },
    "Lookup Agent — Opt-Out": { "main": [[{ "node": "Extract Opt-Out Record ID", "type": "main", "index": 0 }]] },
    "Extract Opt-Out Record ID": { "main": [[{ "node": "Mark Agent Opted Out", "type": "main", "index": 0 }]] },
    "Error Trigger": { "main": [[{ "node": "Format Error", "type": "main", "index": 0 }]] },
    "Format Error": { "main": [[{ "node": "Slack — Error Alert", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": ["re-pipeline", "outreach"],
  "meta": { "templateCredsSetupCompleted": false, "instanceId": "" }
}
