n8n/workflows/workflow_c_enrich_push.json
{
  "name": "Workflow C — Enrichment & CRM Push",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "2 */4 * * *"
            }
          ]
        }
      },
      "id": "node_schedule",
      "name": "Schedule — Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.airtable.com/v0/{{ $env.AIRTABLE_BASE_ID }}/{{ $env.AIRTABLE_TABLE_NAME }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "AND({status}='Scored',{ai_score}>=6)"
            },
            { "name": "sort[0][field]", "value": "ai_score" },
            { "name": "sort[0][direction]", "value": "desc" },
            { "name": "maxRecords", "value": "15" }
          ]
        },
        "options": {}
      },
      "id": "node_fetch_qualified",
      "name": "Fetch Qualified Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [420, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "airtable_header_auth",
          "name": "Airtable API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "leftValue": "={{ $json.records.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "largerEqual"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node_check_empty",
      "name": "IF — Records Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "const records = $input.item.json.records || [];\nreturn records.map(r => ({\n  json: {\n    record_id: r.id,\n    business_name: r.fields.business_name || '',\n    website: r.fields.website || '',\n    domain: r.fields.domain || '',\n    phone: r.fields.phone || '',\n    address: r.fields.address || '',\n    city: r.fields.city || '',\n    state: r.fields.state || '',\n    google_rating: r.fields.google_rating || null,\n    review_count: r.fields.review_count || 0,\n    category: r.fields.category || '',\n    ai_score: r.fields.ai_score || 0,\n    ai_signals: r.fields.ai_signals || '',\n    ai_summary: r.fields.ai_summary || ''\n  }\n}));"
      },
      "id": "node_split_items",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.hunter.io/v2/domain-search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "domain", "value": "={{ $json.domain }}" },
            { "name": "api_key", "value": "={{ $env.HUNTER_API_KEY }}" },
            { "name": "limit", "value": "5" },
            { "name": "type", "value": "personal" }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "node_hunter_search",
      "name": "Hunter.io Domain Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1080, 200],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// If Hunter failed or returned no results, continue with nulls\nconst prevRecord = $('Split Into Items').item.json;\nreturn [{ json: { ...prevRecord, contact_email: null, contact_name: null, hunter_confidence: null } }];"
      },
      "id": "node_hunter_error_fallback",
      "name": "Hunter Error — Continue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 380]
    },
    {
      "parameters": {
        "jsCode": "const hunterData = $input.item.json.data || {};\nconst emails = hunterData.emails || [];\nconst prevRecord = $('Split Into Items').item.json;\n\nif (emails.length === 0) {\n  return [{ json: { ...prevRecord, contact_email: null, contact_name: null, hunter_confidence: null } }];\n}\n\nconst priority = ['owner', 'ceo', 'president', 'manager', 'office', 'admin', 'info', 'contact'];\nlet bestEmail = null;\nlet bestName = null;\nlet bestConfidence = null;\n\nfor (const keyword of priority) {\n  const match = emails.find(e =>\n    e.position?.toLowerCase().includes(keyword) ||\n    e.type === 'personal'\n  );\n  if (match) {\n    bestEmail = match.value;\n    bestName = [match.first_name, match.last_name].filter(Boolean).join(' ') || null;\n    bestConfidence = match.confidence || null;\n    break;\n  }\n}\n\nif (!bestEmail && emails.length > 0) {\n  bestEmail = emails[0].value;\n  bestName = [emails[0].first_name, emails[0].last_name].filter(Boolean).join(' ') || null;\n  bestConfidence = emails[0].confidence || null;\n}\n\nreturn [{ json: { ...prevRecord, contact_email: bestEmail, contact_name: bestName, hunter_confidence: bestConfidence } }];"
      },
      "id": "node_extract_best_email",
      "name": "Extract Best Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 140]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.HUBSPOT_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "options": {
          "bodyContentType": "json",
          "jsonBody": "={{ JSON.stringify({ properties: { firstname: $json.contact_name ? $json.contact_name.split(' ')[0] : 'Owner', lastname: $json.contact_name ? $json.contact_name.split(' ').slice(1).join(' ') : '', email: $json.contact_email || '', phone: $json.phone || '', company: $json.business_name || '', website: $json.website || '', city: $json.city || '', state: $json.state || '', hs_lead_status: 'NEW', lead_source: 'Google Maps Scrape', ai_automation_score: String($json.ai_score || ''), automation_pain_signals: $json.ai_signals || '', lead_summary: $json.ai_summary || '', google_rating: String($json.google_rating || ''), review_count: String($json.review_count || '') } }) }}"
        }
      },
      "id": "node_create_hs_contact",
      "name": "Create HubSpot Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1520, 200],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Handle HubSpot 409 Conflict (duplicate contact)\nconst error = $input.item.json;\nconst errorBody = typeof error.error === 'string' ? JSON.parse(error.error) : error.error;\n// Extract existing contact ID from the error message\nconst idMatch = (errorBody?.message || '').match(/existing ID: (\\d+)/);\nconst existingId = idMatch ? idMatch[1] : null;\nconst prevRecord = $('Extract Best Email').item.json || $('Hunter Error — Continue').item.json;\nreturn [{ json: { ...prevRecord, hubspot_existing_id: existingId, is_duplicate: true } }];"
      },
      "id": "node_handle_hs_conflict",
      "name": "Handle HubSpot Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 380]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $json.hubspot_existing_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.HUBSPOT_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "options": {
          "bodyContentType": "json",
          "jsonBody": "={{ JSON.stringify({ properties: { ai_automation_score: String($json.ai_score || ''), automation_pain_signals: $json.ai_signals || '', lead_summary: $json.ai_summary || '', phone: $json.phone || '', hs_lead_status: 'NEW' } }) }}"
        }
      },
      "id": "node_update_hs_contact",
      "name": "Update Existing HubSpot Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1960, 380]
    },
    {
      "parameters": {
        "jsCode": "// Merge the contact ID from either create or update path\nconst item = $input.item.json;\nlet hubspotContactId = item.id || item.hubspot_existing_id || null;\nreturn [{ json: { ...$('Extract Best Email').item.json, hubspot_contact_id: hubspotContactId } }];"
      },
      "id": "node_merge_contact_id",
      "name": "Set Contact ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 140]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/deals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.HUBSPOT_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "options": {
          "bodyContentType": "json",
          "jsonBody": "={{ JSON.stringify({ properties: { dealname: $json.business_name + ' — AI Automation', pipeline: 'default', dealstage: 'appointmentscheduled', lead_score: String($json.ai_score || '') } }) }}"
        }
      },
      "id": "node_create_deal",
      "name": "Create HubSpot Deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2180, 140]
    },
    {
      "parameters": {
        "jsCode": "const dealId = $input.item.json.id;\nconst contactId = $('Set Contact ID').item.json.hubspot_contact_id;\nreturn [{ json: { ...$('Set Contact ID').item.json, deal_id: dealId, contact_id: contactId } }];"
      },
      "id": "node_set_deal_id",
      "name": "Set Deal ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 140]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.hubapi.com/crm/v3/associations/deals/contacts/batch/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.HUBSPOT_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "options": {
          "bodyContentType": "json",
          "jsonBody": "={{ JSON.stringify({ inputs: [{ from: { id: $json.deal_id }, to: { id: $json.contact_id }, type: 'deal_to_contact' }] }) }}"
        }
      },
      "id": "node_associate_deal",
      "name": "Associate Deal with Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2620, 140],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $env.AIRTABLE_BASE_ID }}/{{ $env.AIRTABLE_TABLE_NAME }}/{{ $('Set Contact ID').item.json.record_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "options": {
          "bodyContentType": "json",
          "jsonBody": "={{ JSON.stringify({ fields: { status: 'Pushed', contact_email: $('Set Contact ID').item.json.contact_email || '', contact_name: $('Set Contact ID').item.json.contact_name || '', hubspot_contact_id: $('Set Contact ID').item.json.hubspot_contact_id || '', date_pushed: new Date().toISOString().split('T')[0] } }) }}"
        }
      },
      "id": "node_update_airtable",
      "name": "Update Airtable — Pushed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2840, 140],
      "credentials": {
        "httpHeaderAuth": {
          "id": "airtable_header_auth",
          "name": "Airtable API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const slackUrl = $env.SLACK_WEBHOOK_URL;\nif (!slackUrl) return [{ json: { skipped: true } }];\nconst r = $('Set Contact ID').item.json;\nconst msg = `🔧 *New Qualified Lead*\\n*${r.business_name}* — Score: ${r.ai_score}/10\\n📍 ${r.city || ''}, ${r.state || ''}\\n📞 ${r.phone || 'N/A'}\\n📧 ${r.contact_email || 'No email found'}\\n🌐 ${r.website || 'N/A'}\\n*Why they qualify:*\\n${r.ai_signals || ''}\\n_${r.ai_summary || ''}_`;\nreturn [{ json: { slackUrl, slackBody: { text: msg } } }];"
      },
      "id": "node_build_slack",
      "name": "Build Slack Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3060, 140]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.slackUrl }}",
        "sendBody": true,
        "options": {
          "bodyContentType": "json",
          "jsonBody": "={{ JSON.stringify($json.slackBody) }}"
        }
      },
      "id": "node_slack_notify",
      "name": "Slack — New Lead Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3280, 140]
    },
    {
      "parameters": {},
      "id": "node_error_trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [200, 560]
    },
    {
      "parameters": {
        "jsCode": "const slackUrl = $env.SLACK_WEBHOOK_URL;\nif (!slackUrl) return [{ json: {} }];\nconst err = $input.item.json;\nreturn [{ json: {\n  slackUrl,\n  slackBody: { text: `🚨 *Workflow C Error*\\n${err.execution?.error?.message || 'Unknown error'}` }\n}}];"
      },
      "id": "node_error_format",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.slackUrl }}",
        "sendBody": true,
        "options": {
          "bodyContentType": "json",
          "jsonBody": "={{ JSON.stringify($json.slackBody) }}"
        }
      },
      "id": "node_error_slack",
      "name": "Slack — Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [640, 560]
    }
  ],
  "connections": {
    "Schedule — Every 4 Hours": {
      "main": [[{ "node": "Fetch Qualified Leads", "type": "main", "index": 0 }]]
    },
    "Fetch Qualified Leads": {
      "main": [[{ "node": "IF — Records Found?", "type": "main", "index": 0 }]]
    },
    "IF — Records Found?": {
      "main": [
        [{ "node": "Split Into Items", "type": "main", "index": 0 }],
        []
      ]
    },
    "Split Into Items": {
      "main": [[{ "node": "Hunter.io Domain Search", "type": "main", "index": 0 }]]
    },
    "Hunter.io Domain Search": {
      "main": [[{ "node": "Extract Best Email", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Hunter Error — Continue", "type": "main", "index": 0 }]]
    },
    "Extract Best Email": {
      "main": [[{ "node": "Create HubSpot Contact", "type": "main", "index": 0 }]]
    },
    "Hunter Error — Continue": {
      "main": [[{ "node": "Create HubSpot Contact", "type": "main", "index": 0 }]]
    },
    "Create HubSpot Contact": {
      "main": [[{ "node": "Set Contact ID", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Handle HubSpot Duplicate", "type": "main", "index": 0 }]]
    },
    "Handle HubSpot Duplicate": {
      "main": [[{ "node": "Update Existing HubSpot Contact", "type": "main", "index": 0 }]]
    },
    "Update Existing HubSpot Contact": {
      "main": [[{ "node": "Set Contact ID", "type": "main", "index": 0 }]]
    },
    "Set Contact ID": {
      "main": [[{ "node": "Create HubSpot Deal", "type": "main", "index": 0 }]]
    },
    "Create HubSpot Deal": {
      "main": [[{ "node": "Set Deal ID", "type": "main", "index": 0 }]]
    },
    "Set Deal ID": {
      "main": [[{ "node": "Associate Deal with Contact", "type": "main", "index": 0 }]]
    },
    "Associate Deal with Contact": {
      "main": [[{ "node": "Update Airtable — Pushed", "type": "main", "index": 0 }]]
    },
    "Update Airtable — Pushed": {
      "main": [[{ "node": "Build Slack Notification", "type": "main", "index": 0 }]]
    },
    "Build Slack Notification": {
      "main": [[{ "node": "Slack — New Lead Alert", "type": "main", "index": 0 }]]
    },
    "Error Trigger": {
      "main": [[{ "node": "Format Error", "type": "main", "index": 0 }]]
    },
    "Format Error": {
      "main": [[{ "node": "Slack — Error Alert", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": ["lead-pipeline", "enrichment", "crm"],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  }
}
