n8n/workflows/workflow_a_ingest.json
{
  "name": "workflow_a_ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "apify-webhook",
        "options": {
          "rawBody": true
        }
      },
      "id": "079cc255-4db3-4186-b387-1ead8d85b589",
      "name": "Webhook — Apify POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2416,
        208
      ],
      "webhookId": "apify-ingest-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Body parsing — no secret check here, Webhook node handles that\nlet body = $input.item.json.body || $input.item.json;\nif (typeof body === 'string') {\n  try { body = JSON.parse(body); } catch(e) { throw new Error('Could not parse body as JSON'); }\n}\n\nif (body.eventType !== 'ACTOR.RUN.SUCCEEDED') {\n  console.log(`Ignoring event type: ${body.eventType}`);\n  return [];\n}\n\nconst datasetId = body.resource?.defaultDatasetId;\nconst apifyRunId = body.resource?.id;\n\nif (!datasetId) {\n  throw new Error('No defaultDatasetId in Apify webhook payload');\n}\n\nreturn [{ json: { datasetId, apifyRunId } }];"
      },
      "id": "946e2d1e-7f6c-4267-ba10-c4dfe14317ce",
      "name": "Extract Dataset ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2192,
        208
      ]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.datasetId }}/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "clean",
              "value": "true"
            },
            {
              "name": "limit",
              "value": "1000"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "cbea64cc-fe64-478c-ba1a-e486491f8661",
      "name": "Fetch Apify Dataset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1968,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "sIaw3KXseHDfgVDj",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n already split the array from the HTTP Request response into individual items.\n// Each execution of this node receives one record — just attach the run ID and pass through.\nconst apifyRunId = $('Extract Dataset ID').first().json.apifyRunId;\n\nconst records = [];\n\nfor (const input of $input.all()) {\n  const json = input.json;\n\n  if (Array.isArray(json)) {\n    records.push(...json);\n  } else if (Array.isArray(json.data)) {\n    records.push(...json.data);\n  } else if (Array.isArray(json.items)) {\n    records.push(...json.items);\n  } else {\n    records.push(json);\n  }\n}\n\nreturn records.map(record => ({\n  json: {\n    ...record,\n    apifyRunId\n  }\n}));"
      },
      "id": "8598bf78-868e-4517-aa16-919635cde554",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1744,
        208
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\n\n// Skip closed businesses\nif (item.permanentlyClosed || item.temporarilyClosed) {\n  return null;\n}\n\n// Skip if no phone AND no website\nif (!item.phone && !item.website) {\n  return null;\n}\n\nconst phone = item.phone ? item.phone.replace(/[^\\d+\\-() ]/g, '').trim() : null;\n\nlet domain = null;\nif (item.website) {\n  try {\n    const url = new URL(item.website.startsWith('http') ? item.website : 'https://' + item.website);\n    domain = url.hostname.replace(/^www\\./, '').toLowerCase();\n  } catch (e) {\n    domain = null;\n  }\n}\n\nlet city = null;\nlet state = null;\n\nif (item.address) {\n  const parts = item.address.split(',');\n  if (parts.length >= 2) {\n    city = parts[parts.length - 2]?.trim() || null;\n    const stateZip = parts[parts.length - 1]?.trim().split(' ') || [];\n    state = stateZip[0] || null;\n  }\n}\n\nconst has_website = !!item.website;\n\nreturn {\n  json: {\n    business_name: item.title || item.name || null,\n    website: item.website || null,\n    domain,\n    phone,\n    address: item.address || null,\n    city,\n    state,\n    google_rating: item.totalScore || null,\n    review_count: item.reviewsCount || 0,\n    category: item.categoryName || (item.categories && item.categories[0]) || null,\n    has_website,\n    source: 'Maps',\n    source_query: item.searchString || null,\n    status: 'Raw',\n    website_fetch_status: has_website ? 'Pending' : 'No Website',\n    date_added: new Date().toISOString().split('T')[0],\n    apify_run_id: item.apifyRunId || null\n  }\n};"
      },
      "id": "8205a8ea-e52a-4ba8-b7c2-ba19881aef9e",
      "name": "Validate & Clean Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.business_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "884f333d-e15d-4f71-b33c-a5ee082dff9b",
      "name": "Filter — Has Business Name",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -1296,
        112
      ]
    },
    {
      "parameters": {
        "url": "=https://api.airtable.com/v0/{{ $env.AIRTABLE_BASE_ID }}/{{$env.AIRTABLE_TABLE_NAME}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "=AND({phone}=\"{{ $json.phone }}\", {phone}!=\"\")"
            },
            {
              "name": "maxRecords",
              "value": "1"
            },
            {
              "name": "fields[]",
              "value": "phone"
            }
          ]
        },
        "options": {}
      },
      "id": "bd46a8d1-0fe9-4852-a5e3-1a3db4ee157e",
      "name": "Dedup Check — Phone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1072,
        112
      ],
      "retryOnFail": true,
      "maxTries": 10,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "93QPtqiIuIkaKn9q",
          "name": "Header Auth account 3"
        },
        "airtableTokenApi": {
          "id": "z6xuZwjlxtrjZ38L",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.records.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "id": "bf701361-ea8d-4158-bccb-4e29c582b313"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7b9303ad-c1b2-4c6f-b64a-41ee9e28b4e0",
      "name": "IF — Phone Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -848,
        112
      ]
    },
    {
      "parameters": {
        "url": "=https://api.airtable.com/v0/{{ $env.AIRTABLE_BASE_ID }}/{{ $env.AIRTABLE_TABLE_NAME }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "=AND({domain}=\"{{ $('Validate & Clean Record').item.json.domain }}\", {domain}!=\"\")"
            },
            {
              "name": "maxRecords",
              "value": "1"
            },
            {
              "name": "fields[]",
              "value": "domain"
            }
          ]
        },
        "options": {}
      },
      "id": "ad3d0578-9db3-4ad4-bb9f-96197931ab18",
      "name": "Dedup Check — Domain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -624,
        32
      ],
      "retryOnFail": true,
      "maxTries": 10,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "93QPtqiIuIkaKn9q",
          "name": "Header Auth account 3"
        },
        "airtableTokenApi": {
          "id": "z6xuZwjlxtrjZ38L",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.records.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c31ad68d-2d50-4edc-a006-d50e1e0478ca",
      "name": "IF — Domain Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -400,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.airtable.com/v0/{{ $env.AIRTABLE_BASE_ID }}/{{ $env.AIRTABLE_TABLE_NAME }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.airtable_body) }}",
        "options": {}
      },
      "id": "5271fad8-b7e3-4ebc-a690-9cdd52189ae3",
      "name": "Insert to Airtable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        48,
        -16
      ],
      "retryOnFail": true,
      "maxTries": 10,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "93QPtqiIuIkaKn9q",
          "name": "Header Auth account 3"
        },
        "airtableTokenApi": {
          "id": "z6xuZwjlxtrjZ38L",
          "name": "Airtable Personal Access Token account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.airtable.com/v0/{{ $env.AIRTABLE_BASE_ID }}/Pipeline_Errors",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "cebe0201-223f-4e0e-8526-ed0866ee6373",
      "name": "Log Insert Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        272,
        80
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "93QPtqiIuIkaKn9q",
          "name": "Header Auth account 3"
        },
        "airtableTokenApi": {
          "id": "z6xuZwjlxtrjZ38L",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const slackUrl = $env.SLACK_WEBHOOK_URL;\n\nif (!slackUrl) {\n  return [{ json: { skipped: true } }];\n}\n\nreturn [{\n  json: {\n    slackUrl: slackUrl,\n    slackBody: {\n      text: \"✅ *Workflow A Complete*\\nApify ingest run finished. Check Airtable for new Raw records.\"\n    }\n  }\n}];"
      },
      "id": "3d4380e6-79c5-4f21-8fab-328be107e1c5",
      "name": "Build Slack Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.slackUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slackBody.text }) }}",
        "options": {}
      },
      "id": "12791f13-18c9-4b97-8b07-d2a0e5777f7d",
      "name": "Slack — Ingest Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        496,
        -112
      ]
    },
    {
      "parameters": {},
      "id": "6d9110c4-74cc-48bd-aa17-18f4376f4914",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -2416,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const slackUrl = $env.SLACK_WEBHOOK_URL;\nif (!slackUrl) return [{ json: {} }];\nconst err = $input.item.json;\nreturn [{ json: {\n  slackUrl,\n  slackBody: {\n    text: `🚨 *Workflow A Error*\\n${err.execution?.error?.message || 'Unknown error'}\\nExecution: ${err.execution?.id || 'N/A'}`\n  }\n}}];"
      },
      "id": "2b7e8bb7-6e1c-482c-82f9-413682d119ed",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2192,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.slackUrl }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "06938b32-598e-4e22-abc2-0919235271f4",
      "name": "Slack — Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1968,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    type: typeof $input.item.json,\n    isArray: Array.isArray($input.item.json),\n    keys: typeof $input.item.json === 'object' ? Object.keys($input.item.json) : 'n/a',\n    preview: JSON.stringify($input.item.json).substring(0, 500)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        304
      ],
      "id": "403ca25d-07b5-4a0d-95ce-c0ae6ed67dc1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const r = $('Validate & Clean Record').item.json;\n\nreturn {\n  json: {\n    airtable_body: {\n      fields: {\n        business_name: r.business_name || '',\n        website: r.website || '',\n        domain: r.domain || '',\n        phone: r.phone || '',\n        address: r.address || '',\n        city: r.city || '',\n        state: r.state || '',\n        google_rating: r.google_rating || null,\n        review_count: r.review_count || 0,\n        category: r.category || '',\n        has_website: r.has_website || false,\n        source: r.source || 'Maps',\n        source_query: r.source_query || '',\n        status: 'Raw',\n        website_fetch_status: r.website_fetch_status || 'Pending',\n        date_added: r.date_added || '',\n        apify_run_id: r.apify_run_id || ''\n      }\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -16
      ],
      "id": "5d65c914-7e5a-44b2-8468-db5c0f24adac",
      "name": "Build Airtable Body"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook — Apify POST": {
      "main": [
        [
          {
            "node": "Extract Dataset ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Dataset ID": {
      "main": [
        [
          {
            "node": "Fetch Apify Dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Apify Dataset": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Items": {
      "main": [
        [
          {
            "node": "Validate & Clean Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Clean Record": {
      "main": [
        [
          {
            "node": "Filter — Has Business Name",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter — Has Business Name": {
      "main": [
        [
          {
            "node": "Dedup Check — Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Check — Phone": {
      "main": [
        [
          {
            "node": "IF — Phone Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Phone Duplicate?": {
      "main": [
        [
          {
            "node": "Dedup Check — Domain",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Dedup Check — Domain": {
      "main": [
        [
          {
            "node": "IF — Domain Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Domain Duplicate?": {
      "main": [
        [
          {
            "node": "Build Airtable Body",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Insert to Airtable": {
      "main": [
        [
          {
            "node": "Build Slack Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Insert Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Summary": {
      "main": [
        [
          {
            "node": "Slack — Ingest Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Slack — Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Airtable Body": {
      "main": [
        [
          {
            "node": "Insert to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "de1b6008-f627-4155-a2f1-3e39aee68503",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8144db7907c816170629971836b96cd89a9c228a0e6f7a76bd886fc19afc627f"
  },
  "nodeGroups": [],
  "id": "2p3Ynq0CJR3MYvRw",
  "tags": []
}
