n8n/workflows/workflow_c_enrich_push.json
{
  "name": "workflow_c_enrich_push",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "2 */4 * * *"
            }
          ]
        }
      },
      "id": "443d605b-909a-4be9-bb0d-66731f041948",
      "name": "Schedule — Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        -32
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.airtable.com/v0/' + $env.AIRTABLE_BASE_ID + '/' + $env.AIRTABLE_TABLE_NAME }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "AND({status}='Scored',{ai_score}>=6)"
            },
            {
              "name": "sort[0][field]",
              "value": "ai_score"
            },
            {
              "name": "sort[0][direction]",
              "value": "desc"
            },
            {
              "name": "maxRecords",
              "value": "15"
            }
          ]
        },
        "options": {}
      },
      "id": "2a5f6ec0-3a49-4cd6-bbf6-3a4431b35fdb",
      "name": "Fetch Qualified Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -880,
        -32
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "z6xuZwjlxtrjZ38L",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const records = $input.item.json.records || [];\nreturn records.map(r => ({\n  json: {\n    record_id: r.id,\n    business_name: r.fields.business_name || '',\n    website: r.fields.website || '',\n    domain: r.fields.domain || '',\n    phone: r.fields.phone || '',\n    address: r.fields.address || '',\n    city: r.fields.city || '',\n    state: r.fields.state || '',\n    google_rating: r.fields.google_rating || null,\n    review_count: r.fields.review_count || 0,\n    category: r.fields.category || '',\n    ai_score: r.fields.ai_score || 0,\n    ai_signals: r.fields.ai_signals || '',\n    ai_summary: r.fields.ai_summary || ''\n  }\n}));"
      },
      "id": "fdff39a2-977d-4454-83b8-e6f4a3f80c71",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        -32
      ]
    },
    {
      "parameters": {
        "url": "https://api.hunter.io/v2/domain-search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.domain }}"
            },
            {
              "name": "api_key",
              "value": "={{ $env.HUNTER_API_KEY }}"
            },
            {
              "name": "limit",
              "value": "5"
            },
            {
              "name": "type",
              "value": "personal"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "d8400986-2c95-4e52-bfa4-b643395013bb",
      "name": "Hunter.io Domain Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -208,
        -32
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const prevRecord = $('Split Into Items').item.json;\nreturn [{ json: { ...prevRecord, contact_email: null, contact_name: null, hunter_confidence: null } }];"
      },
      "id": "bbfdcecb-b107-4100-9dae-60c4a4ce5211",
      "name": "Hunter Error — Continue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const hunterData = $input.item.json.data || {};\nconst emails = hunterData.emails || [];\nconst prevRecord = $('Split Into Items').item.json;\n\nif (emails.length === 0) {\n  return [{ json: { ...prevRecord, contact_email: null, contact_name: null, hunter_confidence: null } }];\n}\n\nconst priority = ['owner', 'ceo', 'president', 'manager', 'office', 'admin', 'info', 'contact'];\nlet bestEmail = null, bestName = null, bestConfidence = null;\n\nfor (const keyword of priority) {\n  const match = emails.find(e => e.position?.toLowerCase().includes(keyword) || e.type === 'personal');\n  if (match) {\n    bestEmail = match.value;\n    bestName = [match.first_name, match.last_name].filter(Boolean).join(' ') || null;\n    bestConfidence = match.confidence || null;\n    break;\n  }\n}\n\nif (!bestEmail && emails.length > 0) {\n  bestEmail = emails[0].value;\n  bestName = [emails[0].first_name, emails[0].last_name].filter(Boolean).join(' ') || null;\n  bestConfidence = emails[0].confidence || null;\n}\n\nreturn [{ json: { ...prevRecord, contact_email: bestEmail, contact_name: bestName, hunter_confidence: bestConfidence } }];"
      },
      "id": "5a19bb9a-7784-42c5-aaf1-6b28d516ec87",
      "name": "Extract Best Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/v1/mixed_people/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ api_key: $env.APOLLO_API_KEY, q_organization_domains_list: [$json.domain], person_titles: ['owner', 'ceo', 'president'], \"dnc_statuses\": [\"no\"], page: 1, per_page: 5 }) }}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "eb5b588f-0bff-4e17-8dbb-79fee0a0d5ff",
      "name": "Apollo.io — People Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        464,
        -32
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Apollo errored — pass through with no mobile data\nlet prevRecord;\ntry {\n  prevRecord = $('Extract Best Email').item.json;\n} catch(e) {\n  prevRecord = $('Hunter Error — Continue').item.json;\n}\nreturn [{ json: { ...prevRecord, mobile_phone: null } }];"
      },
      "id": "6f13ed0d-f980-4910-ab34-bbbfd13933f8",
      "name": "Apollo Error — Continue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const people = ($input.item.json.people || []);\n\nlet prevRecord;\ntry {\n  prevRecord = $('Extract Best Email').item.json;\n} catch(e) {\n  prevRecord = $('Hunter Error — Continue').item.json;\n}\n\nif (people.length === 0) {\n  return [{ json: { ...prevRecord, mobile_phone: null } }];\n}\n\n// Prefer owner > ceo > president, then fall back to first result\nconst titlePriority = ['owner', 'ceo', 'president'];\nlet bestPerson = null;\nfor (const title of titlePriority) {\n  const match = people.find(p => p.title?.toLowerCase().includes(title));\n  if (match) { bestPerson = match; break; }\n}\nif (!bestPerson) bestPerson = people[0];\n\n// Extract mobile phone — prefer type 'mobile', fall back to first available\nconst phoneNumbers = bestPerson.phone_numbers || [];\nlet mobilePhone = null;\nconst mobileEntry = phoneNumbers.find(p => p.type === 'mobile');\nif (mobileEntry) {\n  mobilePhone = mobileEntry.sanitized_number || mobileEntry.raw_number || null;\n} else if (phoneNumbers.length > 0) {\n  mobilePhone = phoneNumbers[0].sanitized_number || phoneNumbers[0].raw_number || null;\n}\n\n// Apollo name takes precedence over Hunter (more authoritative for business owners)\nconst apolloName = bestPerson.name ||\n  [bestPerson.first_name, bestPerson.last_name].filter(Boolean).join(' ') ||\n  null;\nconst contactName = apolloName || prevRecord.contact_name;\n\nreturn [{ json: { ...prevRecord, mobile_phone: mobilePhone, contact_name: contactName } }];"
      },
      "id": "bc33f220-019f-4742-bb67-55499355c824",
      "name": "Extract Apollo Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.HUBSPOT_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { firstname: $json.contact_name ? $json.contact_name.split(' ')[0] : 'Owner', lastname: $json.contact_name ? $json.contact_name.split(' ').slice(1).join(' ') : '', email: $json.contact_email || '', phone: $json.phone || '', company: $json.business_name || '', website: $json.website || '', city: $json.city || '', state: $json.state || '', hs_lead_status: 'NEW', lead_source: 'Google Maps Scrape', ai_automation_score: String($json.ai_score || ''), automation_pain_signals: $json.ai_signals || '', lead_summary: $json.ai_summary || '', google_rating: String($json.google_rating || ''), review_count: String($json.review_count || '') } }) }}",
        "options": {}
      },
      "id": "f30ad9be-60ae-4644-993d-cf8e7da78d77",
      "name": "Create HubSpot Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        928,
        -48
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const error = $input.item.json;\n\n// Only handle 409 conflicts — re-throw everything else\nconst statusCode = error.statusCode || error.httpStatusCode || 0;\nif (statusCode !== 409) {\n  const msg = error.message || JSON.stringify(error).slice(0, 300);\n  throw new Error(`HubSpot contact creation failed (HTTP ${statusCode}): ${msg}`);\n}\n\nlet errorBody = error.error;\nif (typeof errorBody === 'string') {\n  try { errorBody = JSON.parse(errorBody); } catch(e) { errorBody = { message: errorBody }; }\n}\n\nconst message = errorBody?.message || error.message || '';\n\nlet existingId = (message.match(/existing ID:\\s*(\\d+)/i) || [])[1] || null;\nif (!existingId) {\n  existingId = errorBody?.context?.id?.[0]\n    || errorBody?.identityProfile?.vid?.toString()\n    || null;\n}\n\nlet prevRecord;\ntry {\n  prevRecord = $('Extract Apollo Contact').item.json;\n} catch(e) {\n  try {\n    prevRecord = $('Apollo Error — Continue').item.json;\n  } catch(e2) {\n    try { prevRecord = $('Extract Best Email').item.json; } catch(e3) {}\n    if (!prevRecord) prevRecord = $('Hunter Error — Continue').item.json;\n  }\n}\n\nif (!existingId) {\n  throw new Error(`HubSpot duplicate detected but no existing ID found: ${message}`);\n}\n\nreturn [{ json: { ...prevRecord, hubspot_existing_id: existingId, is_duplicate: true } }];"
      },
      "id": "59d27483-7e0e-47e2-a361-bcd279c7c42a",
      "name": "Handle HubSpot Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        48
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $json.hubspot_existing_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.HUBSPOT_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { ai_automation_score: String($json.ai_score || ''), automation_pain_signals: $json.ai_signals || '', lead_summary: $json.ai_summary || '', phone: $json.phone || '', hs_lead_status: 'NEW' } }) }}",
        "options": {}
      },
      "id": "55f8a007-e47d-4117-8e63-4b79330d3933",
      "name": "Update Existing HubSpot Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1360,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nlet sourceRecord;\ntry {\n  sourceRecord = $('Extract Apollo Contact').first().json;\n} catch(e) {\n  try {\n    sourceRecord = $('Apollo Error — Continue').first().json;\n  } catch(e2) {\n    try { sourceRecord = $('Extract Best Email').first().json; } catch(e3) {}\n    if (!sourceRecord) sourceRecord = $('Hunter Error — Continue').first().json;\n  }\n}\n\nlet duplicateId = null;\ntry { duplicateId = $('Handle HubSpot Duplicate').first().json.hubspot_existing_id; } catch(e) {}\n\nconst hubspotContactId = item.id || duplicateId || null;\n\nif (!hubspotContactId) {\n  throw new Error('HubSpot contact ID not available after create/update.');\n}\n\nreturn [{ json: { ...sourceRecord, hubspot_contact_id: hubspotContactId } }];"
      },
      "id": "ed317ed2-c41b-442b-867c-464f0bcb29aa",
      "name": "Set Contact ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        -32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/deals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.HUBSPOT_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { dealname: $json.business_name + ' — AI Automation', pipeline: 'default', dealstage: 'appointmentscheduled', lead_score: String($json.ai_score || '') } }) }}",
        "options": {}
      },
      "id": "a7799530-0f39-4516-bb15-8614c729ddae",
      "name": "Create HubSpot Deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1808,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const dealId = $input.item.json.id;\nconst contactRecord = $('Set Contact ID').item.json;\nreturn [{ json: { ...contactRecord, deal_id: dealId, contact_id: contactRecord.hubspot_contact_id } }];"
      },
      "id": "7ba428df-bcae-4aed-a169-6ac4cc4c240e",
      "name": "Set Deal ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/associations/deals/contacts/batch/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.HUBSPOT_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ inputs: [{ from: { id: $json.deal_id }, to: { id: $json.contact_id }, type: 'deal_to_contact' }] }) }}",
        "options": {}
      },
      "id": "2c6c86ce-ec45-4711-b427-2fad9deac578",
      "name": "Associate Deal with Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2256,
        -32
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.airtable.com/v0/' + $env.AIRTABLE_BASE_ID + '/' + $env.AIRTABLE_TABLE_NAME + '/' + $('Set Contact ID').item.json.record_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: { status: 'Pushed', contact_email: $('Set Contact ID').item.json.contact_email || '', contact_name: $('Set Contact ID').item.json.contact_name || '', mobile_phone: $('Set Contact ID').item.json.mobile_phone || '', hubspot_contact_id: $('Set Contact ID').item.json.hubspot_contact_id || '', date_pushed: new Date().toISOString().split('T')[0] } }) }}",
        "options": {}
      },
      "id": "67e25f44-007a-4164-87ad-d71c153c9531",
      "name": "Update Airtable — Pushed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2480,
        -32
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "z6xuZwjlxtrjZ38L",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const slackUrl = $env.SLACK_WEBHOOK_URL;\nif (!slackUrl) return [{ json: { skipped: true } }];\nconst r = $('Set Contact ID').item.json;\nconst msg = `🔧 *New Qualified Lead*\\n*${r.business_name}* — Score: ${r.ai_score}/10\\n📍 ${r.city || ''}, ${r.state || ''}\\n📞 ${r.phone || 'N/A'}${r.mobile_phone ? ' | 📱 ' + r.mobile_phone : ''}\\n📧 ${r.contact_email || 'No email found'}\\n🌐 ${r.website || 'N/A'}\\n*Why they qualify:*\\n${r.ai_signals || ''}\\n_${r.ai_summary || ''}_`;\nreturn [{ json: { slackUrl, slackBody: { text: msg } } }];"
      },
      "id": "bff6d1cc-4766-4833-9284-be319744465a",
      "name": "Build Slack Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        -32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.slackUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slackBody.text }) }}",
        "options": {}
      },
      "id": "d9ae89e6-a230-48c5-ab15-3eea0f5298bb",
      "name": "Slack — New Lead Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2928,
        -32
      ]
    },
    {
      "parameters": {},
      "id": "a6dd85ab-8676-4fed-ae40-c795ef282280",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const slackUrl = $env.SLACK_WEBHOOK_URL;\nif (!slackUrl) return [{ json: {} }];\nconst err = $input.item.json;\nreturn [{ json: { slackUrl, slackBody: { text: `🚨 *Workflow C Error*\\n${err.execution?.error?.message || 'Unknown error'}` } } }];"
      },
      "id": "153662ef-e061-4290-a427-16961ee6201d",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.slackUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slackBody.text }) }}",
        "options": {}
      },
      "id": "a3ed57ba-72a5-44bf-bdc0-acad9167d5ff",
      "name": "Slack — Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -656,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3cda7775-e61c-4855-bbf9-0733337db688",
              "leftValue": "={{ $json.records.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -656,
        -32
      ],
      "id": "390f4468-02a5-4b66-9ce1-559ac6f5fa17",
      "name": "If -- Records Found"
    },
    {
      "parameters": {
        "jsCode": "return {{ $json.website.toLowerCase().replace(/^(https?:\\/\\/)?(www\\.)?/, '').split('/')[0].trim() }}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -32
      ],
      "id": "41a05e31-f96d-440b-9d01-49a8a097bfd8",
      "name": "get_domain"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/people/match",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"={{ $json.id }}\",\n  \"reveal_phone_number\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        -464
      ],
      "id": "918afca0-8c05-41a4-a5c8-86c075ebbb05",
      "name": "Get Mobile Phone Apollo",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DiDsOTHkGWysuwsA",
          "name": "Apollo"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule — Every 4 Hours": {
      "main": [
        [
          {
            "node": "Fetch Qualified Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Qualified Leads": {
      "main": [
        [
          {
            "node": "If -- Records Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Items": {
      "main": [
        [
          {
            "node": "Hunter.io Domain Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter.io Domain Search": {
      "main": [
        [
          {
            "node": "Extract Best Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hunter Error — Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Best Email": {
      "main": [
        [
          {
            "node": "get_domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter Error — Continue": {
      "main": [
        [
          {
            "node": "get_domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo.io — People Search": {
      "main": [
        [
          {
            "node": "Extract Apollo Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apollo Error — Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Apollo Contact": {
      "main": [
        [
          {
            "node": "Get Mobile Phone Apollo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo Error — Continue": {
      "main": [
        [
          {
            "node": "Create HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HubSpot Contact": {
      "main": [
        [
          {
            "node": "Set Contact ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle HubSpot Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle HubSpot Duplicate": {
      "main": [
        [
          {
            "node": "Update Existing HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing HubSpot Contact": {
      "main": [
        [
          {
            "node": "Set Contact ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Contact ID": {
      "main": [
        [
          {
            "node": "Create HubSpot Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HubSpot Deal": {
      "main": [
        [
          {
            "node": "Set Deal ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Deal ID": {
      "main": [
        [
          {
            "node": "Associate Deal with Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate Deal with Contact": {
      "main": [
        [
          {
            "node": "Update Airtable — Pushed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Airtable — Pushed": {
      "main": [
        [
          {
            "node": "Build Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Notification": {
      "main": [
        [
          {
            "node": "Slack — New Lead Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Slack — Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If -- Records Found": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_domain": {
      "main": [
        [
          {
            "node": "Apollo.io — People Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Mobile Phone Apollo": {
      "main": [
        [
          {
            "node": "Create HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "79e48b96-84d2-4f5a-a4ad-b2091190caee",
  "meta": {
    "instanceId": "8144db7907c816170629971836b96cd89a9c228a0e6f7a76bd886fc19afc627f"
  },
  "nodeGroups": [],
  "id": "szjSgzjszaIdG9xz",
  "tags": []
}